<div class="toolbar" role="banner">
<div class="spacer"></div>
<mat-toolbar color="primary">
    <span><img src="./assets/images/logo.png" height=30 ></span>
    <a mat-button routerLink="home" routerLinkActive="active"><span class="fa fa-home fa-lg" style="color:white;font-weight:bold"></span><span STYLE="font-family:'Lucida'" style="color:white;font-weight:bold"> Home</span></a>
    <a mat-button routerLink="historico" routerLinkActive="active"><span class="fa fa-address-card fa-lg" style="color:white;font-weight:bold"></span><span STYLE="font-family:'Lucida'" style="color:white;font-weight:bold"> Personajes Históricos </span></a>
    <a mat-button routerLink="actual" routerLinkActive="active"><span class="fa fa-address-card fa-lg" style="color:white;font-weight:bold"></span><span STYLE="font-family:'Lucida'" style="color:white;font-weight:bold"> Personajes Actuales </span></a>
    <a mat-button routerLink="contactus" routerLinkActive="active"><span class="fa fa-address-card fa-lg"></span> Contact</a>
  </mat-toolbar>
</div>

