<div class="toolbar">
    <div fxFlex fxLayoutAlign="start center">
      &nbsp;&nbsp;&nbsp;&nbsp;
      <span><img src="./assets/images/logo.png" height=40 ></span>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <div fxFlex fxLayoutAlign="end center">
      <span class="fa fa-home fa-lg"  style="color:white;font-weight:bold"></span>
      <a mat-button routerLink="home" routerLinkActive="active">
      <span STYLE="font-family:'Lucida'" style="color:white;font-weight:bold"> Home</span></a>

        <span><img src="./assets/images/logo1.png" height=40 ></span>
        <a mat-button routerLink="historicoslider" routerLinkActive="active">
        <span STYLE="font-family:'Lucida'" style="color:white;font-weight:bold;"> Personajes Históricos </span></a>
   
      <span><img src="./assets/images/logo2.png" height=40 ></span>
      <a mat-button routerLink="actualslider" routerLinkActive="active">
      <span STYLE="font-family:'Lucida'" style="color:white;font-weight:bold"> Personajes Actuales </span></a>
      &nbsp;&nbsp;&nbsp;&nbsp;
    </div>
</div>

