<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="parent" style="height: 43px;background-color: black;">

  <mat-toolbar color="primary">
  
    <div fxShow="true" fxHide.lt-md fxFlex fxLayout>
      <!-- The following menu items will be hidden on both SM and XS screen sizes -->
      <div  fxFlex fxLayoutAlign="start center">
          
          <a  href="https://www.facebook.com/JapanGov" target="_blank" >
              <img id="icon_facebook" src="./assets/images/icon_facebook.png" height=25 padding= 42px></a>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://twitter.com/japangov" target="_blank" >
              <img id="icon_twitter" src="./assets/images/icon_twitter.png" height=25></a>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://www.youtube.com/user/pmojapan" target="_blank" >
              <img id="icon_youtube" src="./assets/images/icon_youtube.png" height=25></a>
          
   
      </div>
      <div fxFlex fxLayoutAlign="end center">
          <span STYLE="font-family:'Lucida'" style="color:white;font-weight:bold"> ©2022 • Realizado por <a title="Cristian Albuja" href="mailto:calbujam@gmail.com">Cristian Albuja</a></span>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span><img src="./assets/images/logo.png" height=43 ></span>
        
      </div>
    </div>
    </mat-toolbar>
  </div>