<div class="parent" style="height:90px;background-color: #ead6be;">

<mat-toolbar color="primary">

  <div fxShow="true" fxHide.lt-md fxFlex fxLayout>
    <!-- The following menu items will be hidden on both SM and XS screen sizes -->
    <div fxFlex>
      <span><img src="./assets/images/logo.png" height=30 ></span>
      <a mat-button routerLink="home" routerLinkActive="active"><span class="fa fa-home fa-lg" style="color:white;font-weight:bold"></span><span STYLE="font-family:'Lucida'" style="color:white;font-weight:bold"> Home</span></a>
    </div>
    <div fxFlex fxLayoutAlign="Left center">
      <a mat-button routerLink="historicoslider" routerLinkActive="active"><span><img src="./assets/images/logo1.png" height=35 ></span><span STYLE="font-family:'Lucida'" style="color:white;font-weight:bold;"> Personajes Históricos </span></a>
    </div>
    <div fxFlex fxLayoutAlign="center center">
      <a mat-button routerLink="actualslider" routerLinkActive="active"><span><img src="./assets/images/logo2.png" height=35 ></span><span STYLE="font-family:'Lucida'" style="color:white;font-weight:bold"> Personajes Actuales </span></a>
    </div>
  </div>


    
  </mat-toolbar>





<ul>
    <li><a href="/about/" data-gtm-area="gtm-footer">About This Site</a></li>
    <li><a href="/copyright.html" data-gtm-area="gtm-footer">Copyright Information</a></li>
    <li><a href="/privacypolicy.html" data-gtm-area="gtm-footer">Privacy Policy</a></li>
    <li><a href="/moderationpolicy.html" data-gtm-area="gtm-footer">SNS Moderation Policy</a></li>
    <li><a href="/sitemap.html" data-gtm-area="gtm-footer">Site Map</a></li>
    <li><a href="/accessibility.html" data-gtm-area="gtm-footer">Accessibility</a></li>
    <li class="gov_blank"><a href="https://www.kantei.go.jp/foreign/forms/comment_ssl.html" data-gtm-area="gtm-footer">Contact us</a></li>
    </ul>
    
    <ul>
    <li><a href="https://www.facebook.com/JapanGov" target="_blank" data-gtm-area="gtm-footer"><img id="icon_facebook" alt="" data-src="_userdata/gnavi/_userdata/navigation/img/icon_facebook.png" src="https://www.japan.go.jp/_userdata/gnavi/_userdata/navigation/img/icon_facebook.png"></a></li>
    <li><a href="https://twitter.com/japangov" target="_blank" data-gtm-area="gtm-footer"><img id="icon_twitter" alt="" data-src="_userdata/gnavi/_userdata/navigation/img/icon_twitter.png" src="https://www.japan.go.jp/_userdata/gnavi/_userdata/navigation/img/icon_twitter.png"></a></li>
    <li><a href="https://www.youtube.com/user/pmojapan" target="_blank" data-gtm-area="gtm-footer"><img id="icon_youtube" alt="" data-src="_userdata/gnavi/_userdata/navigation/img/icon_youtube.png" src="https://www.japan.go.jp/_userdata/gnavi/_userdata/navigation/img/icon_youtube.png"></a></li>
    </ul>
    
            <div class="col-md-4">
                    <p class="copyright">©2022 • Realizado por <a title="Themes y modificaciones a medida" href="mailto:calbujam@gmail.com">Cristian Albuja</a></p>
            </div>
</div>