<div class="titulo"  fxLayoutAlign="center center" >
  <span STYLE="font-family:'Lucida'" style="color:#7F75FF;font-weight:bold;font-size: calc(2vmax + 2px);text-align: center;">PERSONAJES ACTUALES</span> 
</div>

<div class="cards">
  <div class="card1" >
    <video id="myVideo" src={{actual.video}} width="85%" controls loop autoplay muted></video>
    <script>
      var vid = document.getElementById("myVideo");
      vid.play();
      vid.muted = true;
      vid.volume = 0.5;
      </script>
  </div>
  <div class="card2" >
    <header class="header" style="font-family:'Lucida';top:1%" 
    style="color:white;font-weight:bold;font-size: calc(2.3vw + 2px);text-align: center;">{{actual.name | uppercase}}</header>
    <article class="main" style="top:1%;">
      <p>{{actual.description}}</p>  
    </article>
  <div class="aside">
    <aside class="aside aside-1">Para mayor información puede visitar el siguiente enlace</aside>
    <aside class="aside aside-2"><a [href]="actual.QRlink" target="_blank"><img  [src]="actual.QRImage" width="8%" ></a></aside>
  </div>
  <aside class="aside aside-3">
  
    <audio controls>
    <source src= {{actual.audio}} type="audio/mp3"  >
    Your browser does not support the audio tag!
  </audio>
  
  &nbsp;&nbsp;
    <!-- <footer class="footer"> -->
    <img  src="assets/images/Boton regresar.png" width="22%"  (click)="goBack()">
   <!-- </footer> -->
  </aside>

</div>