
.cards {
  display: flex;
 // justify-content: space-between;
  text-align: center;
  height: 500px;
}

.card1 {
 // background-image: url(images/image-background-card1.jpg);
  background-size: cover;
  background-position: bottom;
  min-height: 250px;
  width: 34.9%;   
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.328);
//  padding-top:1.3%;
  
  background-color: #ead6be;
}

.card2 {
 // background-image: url(/assets/images/Marco.png);
  background-size: cover;
  background-position: bottom;
  width: 65%;
  min-height: 250px;
  flex-flow: row wrap;
 // box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.228);
 // padding: 30px 30px 20px 30px; 
}

.header {
 // background: tomato;
  height: 10%; 
  background-color:#b02568;
}

.footer {
  background: lightgreen;
}

.main {
  height: 54%; 
  align-items: center;
//  background-size: cover;
 // background-position: center;
  //width: 95%;
  min-height: 200px;
//  flex-flow: row wrap;
  text-align:justify;
  font-weight: 500;
  font-size: calc(1.5vw + 2px);
 // display: none;
  background-color: rgba(255,255,255,0.5);
  color: rgb(0, 67, 145);
   padding: 1% 10% 1% 10%; 
}

.aside {
  align-content: flex-start;

}
.aside-1 {
  background-color: rgba(255,255,255,0.5);
  color: rgb(0, 67, 145);
//  width: 30%;
  font-weight: 500;
  font-size: calc(1.1vw + 2px);

}

.aside-2 {
  background-color: rgba(255,255,255,0.5);
//  width: 50%;
}

.aside-3 {
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgba(255,255,255,0.3);
  padding: 0% 1% 0% 1%; 
//  width: 50%;
}

audio { 
 // width: 20%; 
  box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  transform: scale(.75);
 // height: 5%;
}

.titulo {
  display: flex;
  justify-content: space-between;
  text-align: center;
  height: 12%;
  background-color: #ead6be;
}
