.parent {
    position: relative;
    top: 0px;
    left: 0;
  }
  .image1 {
    position: relative;
    top: 0;
    left: 0;

  }
  .text1 {
    position: relative;
    top: 5px;
    text-align: center;
    //left:440px;
  }