<div class="parent" style="width:100%;height:500px;">
  <div class="text1"><span STYLE="font-family:'Lucida'" style="color:#7F75FF;font-weight:bold;font-size: 26pt;text-align: center;">PERSONAJES HISTÓRICOS</span> </div>
  <hr>
  <div class="parent" style="width:100%;height:500px;">
    <img class="image1" src="/assets/images/fondo.jpg" style="float:left;width:100%;height:100%;object-fit:fill;" />

    <mat-grid-list cols="2" rowHeight="200px">
    <mat-grid-tile *ngFor="let historico of historicos" [routerLink]="['/historicoDetalle', historico.id]">
      <img height="200px" src={{historico.image}} alt={{historico.name}}>
      <mat-grid-tile-footer>
        <h1>{{historico.name | uppercase}}</h1>
      </mat-grid-tile-footer>
    </mat-grid-tile>
  </mat-grid-list>
</div>
