@import 'variables';
// @import '../node_modules/font-awesome/scss/font-awesome';
* {
max-height: device-height;
max-width: device-width;
}

@font-face {
    font-family: "Bernard";
    src: local("Bernard"), url(assets/fonts/BERNHC.ttf) format("truetype");
}

@font-face {
    font-family: "Lucida";
    src: local("Lucida"), url(assets/fonts/LFAX.ttf) format("truetype");
}

.toolbar {
  top: 0;
  left: 0;
  right: 0;
  height: 43px;
  //display: flex;
  align-items: center;
  background-color: #000000;
  color: white;
  font-weight: 600;
  
}

.toolbar img {
  
  margin: 1px 1px;
}