.parent {
position: relative;
top: 35px;
left: 0;
}

.image1 {
position: relative;
top: 0;
left: 0;
}

.image2 {
position: absolute;
top: 0;
left: 0;
text-align: center;
display: block;
}

.text1 {
position: absolute;
top: 5px;
}


.boton1 {
position: absolute;
border: none;
color: white;
padding: 15px 15px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
}


