<div class="parent" style="width:100%;height:500px;">
    <img class="image1" src="assets/images/fondo.jpg" style="float:left;width:100%;height:100%;object-fit:fill;" />
    <img class="image2" src="assets/images/letras.png" style="top: 10%;left:25%; float:center;width:50% ;height:50%;object-fit: fill;" />
    <div class="parent boton1" STYLE="left:10%;top: 70%;">   
        <a class="card text-white bg-primary" STYLE="left:25%;top: 90%;background-color: #ac2569;"  rel="noopener" href="historico"  >
        <span STYLE="width: 18rem;color:white;font-family:'Bernard'" >Personajes Históricos</span> </a>
    </div>
    <div class="parent boton1" STYLE="left:70%;top: 70%;">   
        <a class="card text-white bg-primary" STYLE="left:75%;top: 90%;background-color: #ac2569;"  rel="noopener" href="historico"  >
        <span STYLE="width: 18rem;color:white;font-family:'Bernard'" >Personajes Actuales</span> </a>
    </div>
                
</div>   
<div class="parent" style="width:100%;height:90px;background-color: #ead6be;">
    <div class="parent text1" style="left:20%;width:100%"><p><span STYLE="font-family:'Lucida'" style="color:black;font-weight:bold;font-size: 18pt;text-align: center;object-fit: fill;">Mediante este sitio se busca el poder presentar a los estudiantes sobre</span></p></div>
        
    <div class="parent text1" style="top:30px;left:22%;width:100%">
        <p><span STYLE="font-family:'Lucida'" style="left:25%;color:black;font-weight:bold;font-size: 18pt;text-align: center;object-fit: fill;">figuras que han resaltado sobre durante la historia de Japón</span></p>
    </div>
    <div class="parent text1" style="top:60px;left:24%;width:100%">
        <p><span STYLE="font-family:'Lucida'" style="color:black;font-weight:bold;font-size: 18pt;text-align: center;object-fit: fill;">ya sean figuras históricas o personas de la actualidad.</span></p>
    </div>

    


    
    
</div>