.parent {
position: relative;
top: 0px;
left: 0;
margin: 0;
padding: 0;
}

.image1 {
position: relative;
top: 0;
left: 0;
width: device-width;
background-size: cover; 

}

.image2 {
position: absolute;
top: 0;

text-align: center;
display: block;
}

.text1 {
position: relative;
padding: 1px;
//top: 12px;
display: flex;
  justify-content: center;
  align-items: center;
}

.boton1 {
position: absolute;
border: none;
//color: white;
//padding: 12px 60px;
//border-radius: 15px;
text-align: left;
text-decoration: none;
display: inline-block;
//font-size: 16px;
//font-weight: 600;
//background-color: #ac2569;

&:hover {
  cursor: pointer;
  //background-color: lighten($color: #ac2569, $amount: 20);
}


}


