
<div class="parent" style="height:500px">
     <!-- < img class="image1 left=0 margin-left=0" src="assets/images/fondo.jpg" style="width:100%;height:100%;object-fit:cover;" /> -->

     <video class="image1 left=0 margin-left=0" style="width:100%;height:100%;object-fit:cover;" src="assets/videos/fondo.mp4" muted loop autoplay></video>
    <img class="image2" src="assets/images/letras.png" style="top: 10%;left:25%; float:center;width:50% ;height:50%;object-fit: fill;" />
    <div class="parent boton1" STYLE="left:10%;top: 70%;">   
        <a  rel="noopener" href="historicoslider"  >
            <!-- <span style="margin-left: auto; margin-right: auto;text-align: center;color:white;font-weight:bold;font-size: 16pt;"  >Personajes Históricos</span> -->
            <img  src="assets/images/BotonHistoricos.png" style="width:25%" >
        </a>
    </div>
    <div class="parent boton1" STYLE="left:70%;top: 70%;">   
        <a  rel="noopener" href="actualslider"  >

        <!-- <span style="margin-left: auto; margin-right: auto;text-align: center;color:white;font-weight:bold;font-size: 16pt;text-decoration:none;"  >Personajes Actuales</span>  -->
        <img  src="assets/images/BotonActuales.png" style="width:70%" >   
    </a>
    </div>
                
</div>   
<div class="parent text1 top=5px" style="height:70px;background-color: #ead6be;">
    <div class="text1" style="margin-left: auto;
    margin-right: auto;text-align: center;color:black;font-weight:bold;font-size: 16pt;"  >
    <p style="text-align: center;">
     Los occidentales conocemos muy poco de la historia de Japón y, sin embargo, está llena de eventos y personajes coloridos.
     Entre samuráis, personas y artistas excepcionales, cada uno de los personajes que se presentan 
     han formado parte de la evolución de <strong>la sociedad o</strong> la<strong>&nbsp;cultura&nbsp;japonesa.</strong></p>
    </div>
</div>

