<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="parent" style="height:500px;">
    <img class="image1" src="assets/images/fondo.jpg" style="float:left;width:100%;height:100%;object-fit:fill;" />
    <img class="image2" src="assets/images/letras.png" style="top: 10%;left:25%; float:center;width:50% ;height:50%;object-fit: fill;" />
    <div class="parent boton1" STYLE="left:10%;top: 70%;">   
        <a class="card text-white bg-primary" STYLE="left:25%;top: 90%;background-color: #ac2569;"  rel="noopener" href="historicoslider"  >
        <span STYLE="width: 18rem;color:white;font-family:'Bernard'" >Personajes Históricos</span> </a>
    </div>
    <div class="parent boton1" STYLE="left:70%;top: 70%;">   
        <a class="card text-white bg-primary" STYLE="left:75%;top: 90%;background-color: #ac2569;"  rel="noopener" href="actualslider"  >
        <span STYLE="width: 18rem;color:white;font-family:'Bernard'" >Personajes Actuales</span> </a>
    </div>
                
</div>   
<div class="parent" style="height:90px;background-color: #ead6be;">
    <div class="text1" style="margin-left: auto;
    margin-right: auto;text-align: center;color:black;font-weight:bold;font-size: 16pt;"  >
    <p style="text-align: center;">
     Los occidentales conocemos muy poco de la historia de Japón y, sin embargo, está llena de eventos y personajes coloridos.
     Entre samuráis, personas y artistas excepcionales, cada uno de los personajes que se presentan 
     han formado parte de la evolución de <strong>la sociedad o</strong> la<strong>&nbsp;cultura&nbsp;japonesa.</strong></p>
    </div>
</div>